{% extends 'global/base.html' %}
{% block texto %}
{{ text }}
{% endblock texto %}

{% block home %}
Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam possimus voluptas dolor mollitia itaque reiciendis ex
numquam repudiandae, rerum pariatur culpa praesentium quasi inventore cupiditate, totam magnam, ipsum facilis fuga
dicta? Aspernatur sint sapiente veniam quae maxime sunt at a, ullam amet, totam, recusandae blanditiis quisquam
dignissimos quibusdam? Exercitationem eos harum modi iste saepe facilis sequi excepturi hic praesentium odit reiciendis
iusto dignissimos reprehenderit enim impedit, sit placeat consequatur quia? Optio nemo ullam sunt nulla qui accusamus
error iste excepturi, iusto cumque hic quisquam odio repellat ipsum, eligendi delectus. Itaque nisi doloremque inventore
fuga commodi saepe esse voluptates, adipisci iusto?
{% endblock home %}
