<article class="post">
    <header>
        <h2 class="post__title">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit.
        </h2>
    </header>
    <div class="post__content">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Corporis ad totam, cumque rem blanditiis numquam
        reprehenderit fugiat commodi hic nesciunt repellat quo laudantium vero esse voluptas error porro aut suscipit a.
        Tempore, molestias ab. Eveniet nobis officia consequuntur illo exercitationem, consequatur laboriosam, aperiam
        soluta odio atque maiores odit fuga quaerat!
    </div>
</article>
